.flowers{
    margin-top: -5vh;
}
.yellowFlower{
    width: 70vh;
    height: 70vh;
    -webkit-user-drag: none; /* For Safari */
    user-drag: none; /* Non-standard */
    -webkit-touch-callout: none; /* Prevent callout on iOS */
    user-select: none; /* Prevent text selection */
    outline: none; /* Remove outline on focus */
    pointer-events: none; /* Prevent any pointer events */
}

.orangeFlower{
    width: 70vh;
    height: 70vh;
    -webkit-user-drag: none; /* For Safari */
    user-drag: none; /* Non-standard */
    -webkit-touch-callout: none; /* Prevent callout on iOS */
    user-select: none; /* Prevent text selection */
    outline: none; /* Remove outline on focus */
    pointer-events: none; /* Prevent any pointer events */
}

.forNadz{
    color: white;
    font-size: 4.5rem;
    padding: 2vh;
}

.Iwish{
    color: white;
    margin-top: -14vh;
    font-size: 1.2rem;
}

.topText{
    margin-top: -14vh;
    text-align: center;
}

.bottomText{
    color: white;
    font-size: 1.2rem;
    text-align: center;
    position: absolute;
    margin-top: 90vh;
}

button{
    position: relative;
    font-size: 2rem;
}

.buttons{
    margin-top: -4.5rem;

}