.pixelify-sans-normal {
                    font-family: "Pixelify Sans", sans-serif;
                    font-optical-sizing: auto;
                    font-weight: 400;
                    font-style: normal;
                }

.pixelify-sans-bold {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}


.btn{
    color: white;
    width: 12rem;
    height: 4rem;
    margin: 1rem;
    background-color: #B11313;
    border: none;
    box-shadow:
            inset -0.25rem 0.125rem 0.0625rem 0.0625rem #71797E,
            inset -0.25rem 0.125rem 0.0625rem 0.0625rem silver,
            inset 0.25rem 0px 0.0625rem 0.0625rem silver;
}

.btn:hover {
    cursor: pointer;
    background-color: #DF1F2D;
}

.btn:active {
    top: 0.3125rem;
}

.btn::after {
    content: '';
    background: black;
    position: absolute;
    left: -2.5%;
    top: 0;
    width: 105%;
    height: 100%;
    z-index: -1;
}

.btn::before {
    content: '';
    background: black;
    position: absolute;
    left: 0;
    top: -5%;
    width: 100%;
    height: 113%;
    z-index: -1;
}

.mainContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

body{
    background-image: url("Media/Ocean_5/5.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.hidden{
    display: none;
}