#confettiBtn{
    font-size: 3rem;
    position: relative;
}

#continueBtn{
    font-size: 3rem;
    position: relative;
}

.happyCat{
    margin-top: 16vh;
    width: 30vh;
    height: 30vh;
    -webkit-user-drag: none; /* For Safari */
    user-drag: none; /* Non-standard */
    -webkit-touch-callout: none; /* Prevent callout on iOS */
    user-select: none; /* Prevent text selection */
    outline: none; /* Remove outline on focus */
    pointer-events: none; /* Prevent any pointer events */
}

.yayMsg{
    font-size: 10vh;
    color: white;
}

p{
    color: white;
}